version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      - '2222:2222' # SSH stream
      - '2222:2222/udp' # SSH stream
    environment:
      # Mysql/Maria connection parameters:
      DB_MYSQL_HOST: "db"
      DB_MYSQL_PORT: 3306
      DB_MYSQL_USER: "${MYSQL_USER:-npm}"
      DB_MYSQL_PASSWORD: "${MYSQL_PASSWORD:-npm}"
      DB_MYSQL_NAME: "${MYSQL_DATABASE:-npm}"
      # Uncomment this if IPv6 is not enabled on your host
      DISABLE_IPV6: 'true'
    volumes:
      - data:/data
      - letsencrypt:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/bin/check-health"]
      interval: 10s
      timeout: 3s
    depends_on:
      - db
    networks:
      - hosts-network
      - default

  db:
    image: 'jc21/mariadb-aria:latest'
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-npm}"
      MYSQL_DATABASE: "${MYSQL_DATABASE:-npm}"
      MYSQL_USER: "${MYSQL_USER:-npm}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-npm}"
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - default
      
networks:
  hosts-network:
    external: true
    name: hosts-network

volumes:
  mysql:
  data:
  letsencrypt:
